networkx
pydantic>=2
PyYAML
typing_extensions
websockets
msgcenterpy>=0.1.8
orjson>=3.11
opentrons_shared_data
pint
fastapi
jinja2
requests
httpx>=0.27.0
uvicorn
pyautogui
opcua
pyserial
pandas
crcmod-plus
pymodbus
matplotlib
pylibftdi
grpcio
grpcio-tools
shapely
trimesh
mapbox_earcut
